{% extends "post_template.html" %}
{% block blogposts %}
<div class="entry" style="padding-top: 25px;">
  <div class="headlines">
    <h1><a href="/hackernews">What if Hacker News, Pinterest, and Twitter had a baby?</a></h1>
  </div>
</div>

<div class="entry">
  <div class="headline">
    <h1><a href="/LearnableProgramming">Learnable Programming: Notes on Bret's Paper</a></h1>
  </div>
</div>

<div class="entry">
  <div class="headline">
    <h1><a href="/ogilvy">How to sell more software: A lesson from Ogilvy</a></h1>
  </div>
</div>

{% endblock %}
