{% extends "post_template.html" %}
{% block title %} Nava News {% endblock %}
{% block post %}
<h1> Do you want your own hacker news?</h1>


<h2 style="font: bold; text-style: underline; color: black"> Reasons </h2>
<p> Learn from building. </p>

<p>My favorite source for links is Twitter, Hacker News is second.<p>

<p>Hacker news has the best UI for showing content. High ink per page ratio. Only shows the headlines, I dont read anything else. Fuck Twitter Cards.</p>

<p>I want control. Hate cynicism and negativity? start banning people. Invite only commenting. Keep the community small so you recognize the people making comments. </p> 

<p>Small Communities are best </p>

<p>RoadBlock's </p>

<p>Twitter doesn't want you taking their crumbs, because they only have crumbs </p>

<p> Solution build on top of App.net. </p>

<p>Here is what my Hacker News looks like. </p>

</p>Do you want your own?</p>
{% endblock %}
