{% extends "post_template.html" %}
{% block title %} Nava News {% endblock %}
{% block post %}
<h1>What if Hacker News, Pinterest, and Twitter had a baby?</h1>


<p>That would be one ugly child who hacks in lisp, loves easy to consume photos, and hates developers.  Lets hope we never run into that thing. </p>
<p>What we would really get though is <a href="http://nava.io/news">Nava.io/news.</a></p>
<p>I build it because I wanted an easy way to consume the best parts of my twitter feed.</p>
<p>If you would like to build your own the code is <a href="http://github.com/fnava621/Nava-">here</a></p>
<p>Let me know what you think: fnava621@gmail.com </p>
<p style="font-style: italic">P.S  If you company is hiring junior developers feel free to email me.</p>
{% endblock %}
