{% extends "post_template.html" %}
{% block title %} Ogilvy {% endblock %}
{% block post %}
<h1> How to sell more software: A lesson from Ogilvy </h1>
<quote>
<p>“ In the past, just about every advertiser has assumed that in order to sell his goods he has to convince consumers that his product his superior to his competitors.
</p>
<p>
 This may not be necessary. It may be sufficient to convince consumers that your product is positively good.  If the consumer feels certain that your product is good and feels uncertain about your competitors, he will buy yours.
<p>If you and your competitor all make excellent products don’t try to imply that your product is better.  Just say what’s good about your product - and do a clearer, more honest, more informative job of saying it.  
</p>
<p>If this theory is right, sales will swing to the marketer who does the best job of creating confidence that his product is positively good.”
</p>
- David Ogilvy quoting his partner Joel Raphaelson, Ogilvy on advertising
</quote>
{% endblock %}

