<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/static/css/blog_main.css">
    <link rel="shortcut icon" href="/static/img/gravatar.jpeg">
    
    {% block css %}
    {% endblock %}
    
  </head>
  <body>
    <div id="page">
      <div class="blog">

        <div class="other">
          <a href="http://alpha.app.net/nava" class="logo"><img src="/static/img/gravatar.jpeg" alt="" /></a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="http://sleepy-peak-9893.herokuapp.com/">Nava News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Archives</a></li>
          </ul>
          <p> My name is Fernando Nava. Currently working on Nava News. </p>
          <p> You can find me as @fnava621 on Twitter and Github</p>
        </div> 

        
        <div class="main">
          <div class="article">
            <p class="lede">August 22, 2012</p>
            {% block post %}{% endblock %}

          </div>
        </div>
      </div>
    
    </div>
 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
  </body>
</html>
